.send-button_black {
    background: #172240;
    background: none;
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
}

.send-button_black:hover {
    transition: 0.2s;
    transform: scale(1.25);
}

.send-button_black:active {
    transition: 0.1s;
    transform: scale(1.1);
}

.chat-section_black-hello {
    background: #273649;
    background-image: url("../../../resources/imgs/hello.png");
    background-size: 900px;
}

.chat-section_black {
    background: #273649;
    background-image: url("../../../resources/imgs/bg.png");
    background-size: 900px;
}

.message_black {
    font-family: 'Comic Sans MS';
    background: #315B81;
    color: #d3defe;
    border-radius: 5px;
}

.buttons-section_black,
.search-section_black,
.chat-info-section_black,
.text-entry-section_black {
    background: #273649;
    font-family: 'Comic Sans MS';
    font-size: 14px;
    color: #d3defe;
}

.chats-list-section_black {
    font-family: 'Comic Sans MS';
    background: #3b516e;
}

.error-window_black,
.window_black {
    font-family: 'Comic Sans MS';
    background: #273649;
    border-color: #a6bddb;
}

.error-message_black {
    font-weight: 900;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    color: rgb(215, 87, 87);
}

.placeholder_black {
    font-size: 14px;
    font-family: 'Comic Sans MS';
    color: #d3defe;
}

.au-list_box_black {
    color: #d3defe;
    font-family: 'Comic Sans MS';
    background: #3b516e;
    font-size: 14px;
}

.chat-label_black {
    color: #d3defe;
    font-family: 'Comic Sans MS';
    font-size: 14px;
    font-weight: 900;
}


.authorization-window_black {
    background: #273649;
}

.au-entry_black {
    outline: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    background-color: #32455e;
    box-shadow: inset 2px 5px 10px #36393e;
    transition: 300ms ease-in-out;
    color: #d3defe;
    border-color: #5d84a6;
}

.au-entry_black:focus-within {
    padding: 4px;
    font-family: 'Comic Sans MS';
    background-color: #222f40;
    border-color: #5d84a6;
    border-width: 3px;
    transform: scale(1.04);
    color: #d3defe;
}

.au-button_black {
    border: none;
    outline: none;
    background: #394e6a;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    font-weight: 900;
    color: #d3defe;
    border-radius: 5px;
    transition: all ease 0.2s;
    box-shadow: 0px 5px 0px 0px #1d2837;
}

.au-button_black:active {
    font-family: 'Comic Sans MS';
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #0e131a;
}

.au-errors_black {
    font-family: 'Comic Sans MS';
    color: #d3defe;
    font-weight: 900;
    font-size: 14px;
}
