.send-button-pink {
    background: #FDE2F3;
    background: none;
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
}

.send-button-pink:hover {
    transition: 0.2s;
    transform: scale(1.25);
}

.send-button-pink:active {
    transition: 0.1s;
    transform: scale(1.1);
}

.chat-pink-hello {
    background: #FDE2F3;
    background-image: url("../../../resources/imgs/hello.png");
    background-size: 900px;
}

.chat-pink {
    background: #FDE2F3;
    background-image: url("../../../resources/imgs/bg.png");
    background-size: 900px;
}

.message-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
    color: #403d67;
    border-radius: 5px;
}

.buttons-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
    color: #FDE2F3;
}

.search-pink,
.chat-info-pink,
.text-entry-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
    font-size: 14px;
    color: #403d67;
}

.chats-list-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
}

.error-window-pink,
.window-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
    border-color: #917FB3;
}

.error-message-pink {
    font-family: 'Comic Sans MS';
    font-weight: 900;
    font-size: 14px;
    color: rgb(215, 87, 87);
}

.placeholder-pink {
    font-family: 'Comic Sans MS';
    font-size: 14px;
    color: #403d67;
}

.scroll-pink {
    font-family: 'Comic Sans MS';
    border-width: 1.5px;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #917FB3;
}

.au-list_box-pink {
    font-family: 'Comic Sans MS';
    color: #403d67;
    background-color: #FDE2F3;
    font-size: 14px;
}

.chat-label-pink {
    font-family: 'Comic Sans MS';
    color: #403d67;
    font-size: 14px;
    font-weight: 900;
}

.authorization-window-pink {
    font-family: 'Comic Sans MS';
    background: #FDE2F3;
}

.au-entry-pink {
    font-family: 'Comic Sans MS';
    outline: none;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
    border-width: 1.5px;
    background-color: #E5BEEC;
    box-shadow: inset 2px 5px 10px rgba(79, 74, 83, 0.3);
    transition: 300ms ease-in-out;
    color: #403d67;
    border-color: #917FB3;
}

.au-entry-pink:focus-within {
    font-family: 'Comic Sans MS';
    padding: 4px;
    background-color: #E5BEEC;
    border-color: #917FB3;
    border-width: 3px;
    transform: scale(1.04);
    color: #403d67;
}

.au-button-pink {
    border: none;
    outline: none;
    background: #917FB3;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Comic Sans MS';
    font-weight: 900;
    color: #403d67;
    border-radius: 5px;
    transition: all ease 0.2s;
    box-shadow: 0px 5px 0px 0px #2A2F4F;
}

.au-button-pink:active {
    font-family: 'Comic Sans MS';
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #0e131a;
}

.au-errors-pink {
    font-family: 'Comic Sans MS';
    color: #403d67;
    font-weight: 900;
    font-size: 14px;
}
